@import '../../../css/style';

.app{
	&__values{
		width: 240px;
		padding-left: 0px;
		margin: 0 0 0 17px;
		position: relative;
		top: 8px;
	}

	&__values .ui.statistic .value{
		@include transition(all 0.2s ease);
	}

	& .statistics .statistic{
		margin: 0 10px !important;
	}

}
