@import './mixins';

body{
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.app{
	&__inner{
	    width: 775px;
		position: relative;
        overflow: hidden;
        height: 330px;
	}

    &__main-interface{
        display: flex;
        align-items: center;
    }

	.hide{
		display: none;
	}

	.show{
		display: block;
	}
}
